<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/basicLayout}">

<script layout:fragment="script" th:inline="javascript">
    'use strict';

    function pageSizeCheck(selectElement) {
        var newPageSize = selectElement.value;

        var url = '/board/boardList';
        var params = new URLSearchParams();

        params.append('pageSize', newPageSize);
        params.append('pag', '1');

        location.href = url + '?' + params.toString();
    }
</script>

<div layout:fragment="content" class="text-center">
    <h2>게시판 리스트</h2>
    <div class="row mt-3 mb-1">
        <div class="col text-start">
            <a th:href="@{boardInput}" class="btn btn-success btn-sm">글쓰기</a>
        </div>
        <div class="col text-end">
            <select name="pageSize" id="pageSize" onchange="pageSizeCheck(this)">
                <option value="5"  th:selected="${paging.size == 5}">5</option>
                <option value="10" th:selected="${paging.size == 10}">10</option>
                <option value="15" th:selected="${paging.size == 15}">15</option>
                <option value="20" th:selected="${paging.size == 20}">20</option>
                <option value="25" th:selected="${paging.size == 25}">25</option>
                <option value="30" th:selected="${paging.size == 30}">30</option>
            </select>
        </div>
    </div>
    <table class="table table-hover text-center">
        <tr class="table-secondary">
            <th>번호</th>
            <th>글제목</th>
            <th>글쓴이</th>
            <th>글쓴날짜</th>
            <th>조회수(좋아요)</th>
        </tr>
        <th:block th:each="board, st : ${paging.content}">
            <tr>
                <td th:text="${(paging.totalElements - (paging.number * paging.size)) - st.index}">
                    [[${st.count}]]
                </td>
                <td>
                    [[${board.title}]]
                </td>
                <td>[[${board.name}]]</td>
                <td>
                    <span th:text="${board.wDate}"></span>
                </td>
                <td>[[${board.readNum}]] ([[${board.good}]])</td>
            </tr>
        </th:block>
    </table>

    <!-- 블록페이지 시작 -->
    <div class="text-center" th:if="${!paging.isEmpty}">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:if="${paging.hasPrevious}">
                <a class="page-link text-secondary" th:href="@{/board/boardList(pag=1, pageSize=${paging.size})}">첫 페이지</a>
            </li>
            <li class="page-item" th:if="${paging.hasPrevious}">
                <a class="page-link text-secondary" th:href="@{/board/boardList(pag=${paging.number}, pageSize=${paging.size})}">이전</a>
            </li>
            <th:block th:each="pageNumber: ${#numbers.sequence(startBlockPage, endBlockPage)}">
                <li class="page-item" th:classappend="${pageNumber == paging.number + 1} ? 'active'">
                    <a class="page-link" th:href="@{/board/boardList(pag=${pageNumber}, pageSize=${paging.size})}" th:text="${pageNumber}"
                       th:classappend="${pageNumber == paging.number + 1} ? 'bg-secondary border-secondary text-white' : 'text-secondary'"></a>
                </li>
            </th:block>
            <li class="page-item" th:if="${paging.hasNext}">
                <a class="page-link text-secondary" th:href="@{/board/boardList(pag=${paging.number + 2}, pageSize=${paging.size})}">다음</a>
            </li>
            <li class="page-item" th:if="${paging.hasNext}">
                <a class="page-link text-secondary" th:href="@{/board/boardList(pag=${paging.totalPages}, pageSize=${paging.size})}">마지막 페이지</a>
            </li>
        </ul>
    </div>
    <!-- 블록페이지 끝 -->

</div>

</html>